.navs
  .container-fluid
    nav.navbar.navbar-expand-lg
     a.navbar-brand(href="/") Olx
     #navbarSupportedContent.collapse.navbar-collapse

      form.form-inline.my-2.my-lg-0.m-auto(action="/search" class='search')       
        input.form-control.mr-sm-2.w-75(type="text" name="search" placeholder="Nima topish kerak")
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') 
          i(class="fas fa-search")
      ul.navbar-nav 
       li.nav-item
        a.nav-link.btn.btn-light(href='/add') E'lon berish    
      .kurs
          if kurs 
            each valyuta in kurs 
              if valyuta.Ccy == "USD"
                p  
                    i(class="fas fa-dollar-sign")
                p= valyuta.Rate
          else
            each valyuta in kurs  ? valyuta : []
              if valyuta.Ccy == "USD"
                  p= valyuta.Ccy
                  p= valyuta.Rate    
      a.profile.d-flex.align-items-center.ml-3(href="/account/acc" style="text-decoration: none !important;")
        .icon.text-white(style="font-size: 35px")
            i.fal.fa-user-circle
        p.text-white(style="margin: 0 7px;") Мой профиль
      a(href="/login/log") login

